body {
  background-color: rgb(0, 0, 0);
  color: white;
  margin: 0px;
}

.mainClass {
  background-color: rgb(93, 93, 93);
}

.mainClass select {
  color: white;
  text-align: center;
  width: 99%;
  height: 100%;
  background-color: rgb(93, 93, 93);
  border: none;
}

.mainClass td:hover {
  background-color: rgb(106, 106, 106);
}

.mainClass :nth-child(1):hover {
  background-color: rgb(106, 106, 106);
}

.addMainClass {
  background-color: rgb(169, 169, 169);
}

.addMainClass:hover {
  background-color: rgb(181, 181, 181);
}

.addSubClass {
  background-color: rgb(169, 169, 169);
}

.addSubClass:hover {
  background-color: rgb(179, 179, 179);
}


table {
  margin-top: 50px;
  width: 100%;
  background-color: black;
}


th {
  background-color: black;
  text-align: center;
  
}


tr {
  background-color: rgb(127, 127, 127);
  
 
}

td {
  text-align: center;
  height: 60px;

}

.toggle {
  min-width: 20px;
}


.options {
  padding-left: 10px;
  padding-right: 10px;
}



.mainClass input {
  color: white;
  text-align: center;
  width: 99%;
  height: 100%;
  background-color: rgb(93, 93, 93);
  border: none;
}

.subClass input {
  color: white;
  text-align: center;
  width: 99%;
  height: 100%;
  background-color: rgb(127, 127, 127);
  border: none;
}

.subClass input:hover {
  background-color: rgb(134, 134, 134);
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  position: absolute;
  
  
  
  
  
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}



.subCell1 {
  width: 90px;
}

.subCell1 input {
  width: 97%;
}

.subCell2 input {
  width: 97%;
}

.scene input {
  width: 97%;
}

.duration {
  max-width: 30px;
}

.duration input {
  max-width: 90%;
}
